 @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900,&display=swap');
*
/*  */
/*color: #198754; hover a verde
  background: #5c544e marron
  #0dcaf0 celeste
  #097d94 celeste oscuro
/*  */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sec 
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background: #5c544e;
  
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header .logo
{
    position: relative;
    max-width: 120px;
} */

header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
  display: inline-block;
  color: #fff;
  font-weight: 400;
  margin-left: 30px;
  /* margin-right: 30px; */
  text-decoration: none;
    text-align: right;
} 
.sec a:hover
{
    color:#fff ;
  
}
.sec li a:hover
{
    color:  #0dcaf0;
  
}
/* .content  h2
{
    margin-top: 10%;
    color: #fff;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
   
} */
.content h3
{
    color: #fff;
    text-align: center;
    margin-top: 1%;

}
.content .textBox 
{
    position: relative;
    max-width: 500px;
    margin: 10%;
     text-align: center;
}
.content .textBox h2
{
   color: #fff;
   font-size: 2em;
   line-height: 1.5em;
   font-weight: 500;
   text-transform: uppercase;
}
.content .textBox h3 span
{
    font-size: 3em;
 }
 .content  p
{
    color: #fff;
    font-size: small;
    text-align: justify;
    padding: 20px 30px ;
    margin-top: 10%;
 }
 .content a
{
    display: inline-block;
    margin: 20px 30px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
 .logo
 {
    filter: invert(1);
    max-width: 90%;
    max-height: 90%;

 }
 .more
 {
    margin: 20px 180px;
 }
 .more:hover a
 {
    background-color: #097d94;
 }
 .sec img  .logo 
 {
    align-items: center;
 }
 .nav-carrera
 { 
    padding: 2%;
    background: #5c544e;
    color: #fff;
    text-align: justify;
 }
 .nav-carrera a
 {
    color: #fff;
 }

 .nav-carrera li 
 {
     margin-left: 4%;
     margin-right: 10%;
 }
 #btn-carreras
 {
    background-color:  #097d94;
    border-color: #097d94;
    color: #fff;
  

 }
 .dropdown-menu
 {
    padding: 2%;
    background-color:  #097d94;
    text-align: justify;
 }
 .dropdown-menu li a:hover
 {
    color:#5c544e;
    background-color:  #097d94;
 }
 /* #volver
 {
    border-radius: 5px;
    background-color:  #097d94;
    color: #fff;
    padding: 10px;
    
 } */
 #program
 {
    /* background: url("/assets/img/program.jpg"); */
    background: url('/assets/img/program.jpg') no-repeat;
 }
 #administracion li
 {
    text-align: justify;
 }

  