@media only screen and (min-width:320px) and (max-width: 2048px)
/* @media only screen and (min-device-width:320px) and (max-device-width: 2048px) */
{device-width
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html, body{
    height: 100;
    margin:0;
    padding: 0; 
}

/* ------------------ encabezado --------------- */
header {
    background-color: rgb(92, 88, 88);
    display: flex;
    width: 100%;
    color: white;
    text-align:right ;
}
.h3{
    text-align:left ;
    font-size: small;
}
.txt a{
 text-decoration: none;
 color: white;
 font-size: small;

}
.btn-tic a{
    text-decoration: none;
    color: white;
}
.txt {
    text-align:right;
    font-size: medium;
    margin-top: 2rem;
    width: 100vh;
}
.imagen-logo{
    margin-left:2rem;
}
/* ------------------------------------------------------------------------------- */
/*---------------------- sección class="container-conf"  --------------------------*/
.contenedor-ba{
    display: flex;
    text-align: right;
}
/* texto de parrafo inicial */
.texto-ba{
    margin-top: 20px;
    font-size:medium;
    color:white ;
    position: absolute;
    top: 60%;
    right:5%;

}
.confBA{
    top: 60%;right:5%;
    position: absolute;
    font-size: large;

    /* margin-right: 10px; */
}
.dos{
    /* margin-right:50px; */
    right:20%;
    position: absolute;
}
.btn-orador{

    margin-left: 10px;
    margin-right: 90px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: white;
    background-color: transparent;
    color:white;
    font-size:large ;
  
}
.btn-orador a{
     text-decoration: none; 
     color:white;
}
.btn-tic{
    right:-50%;
    position: absolute;

    background-color: green;
    margin-left: 30px;
    margin-right:10px;
    margin-bottom: -50px;
    border-radius: 5px; 
  
    color:white;
    font-size:large ;
}


/* --------------conoce a los oradores ---------*/
h6{
    margin-top: 10px;
    text-align: center;
}
h4{
    text-align: center;
    font-size: x-large;
}
/*--------------container-orador------------------*/
.container-oradores{
 display: flex;
 text-align: left;
 
    justify-content: center;
    align-items: center;
}
.jobs{
    margin-left:4px;
    margin-right:4px;
    width: 310px;
    height: 650px;
}
.gates{
    margin-left:4px;
    width: 310px;
    height: 650px;
}
.ada{
    margin-left:4px;
    width: 310px;
    height: 650px;
}

.btn-yellow{
    background-color: rgb(243, 243, 51);
    color:rgb(59, 58, 58);
    border-radius: 5px;
    border-color: transparent;

}
.btn-cyan{
    background-color: cyan;
    color:white;
    border-radius: 5px;
    border-color: transparent;
}
.btn-gris{
    background-color: gray;
    color:white;
    border-radius: 5px;
    border-color: transparent;
}
.btn-rojo{
    background-color: rgb(179, 37, 37);
    color:white;
    border-radius: 5px;
    border-color: transparent;
}
/* -----------------------cajas-------------------- */
.container-dos{
    display:flex;
    margin-top: 1rem;  
}

.container-hono img{
    width: 50vw;
    margin: 0;
}
.hono-gris
{
    padding: 1rem;
    background-color: gray;
    color: white;
}
.oct-text{
    margin-left: 15px;
    margin-right: 15px;
}

.btn-hono{
    border-radius: 5px;
    border-color: white;
    background-color: transparent;
    color:white;
    font-size: x-large;
}
.btn-hono:hover{
    border-color: rgb(174, 182, 191 ) ;
}
/* ------------formulario----------- */
 .tex-cent
 {  height: 70vh;
    text-align:center;
    font-size: medium;
    margin-top: 1rem;
  
 }
 .underline{
    text-decoration: underline dotted;
}
 .input1:hover{  

    background-color: rgb(40, 180, 99 ) ;
  
 }

.input1{
    display: inline-flex;
    margin-left: 1px; 
    
}

.coment{
    color:  rgb(138, 135, 135);
    font-size: large;
    width: 80vh;
}

.pieTxt
{  
    text-align: center;
 
}

.btn-enviar{
    margin-top: 15px;
    background-color: rgb(23, 165, 137);;
    color:white;
    border-radius: 5px;
    border-color: transparent;
    width: 80vh;
}
.btn-enviar:hover{
    background-color: rgb(40, 180, 99 ) ;
}

#btn-up{
    width: 40px;
    height: 40px;
    background-color: rgb(133, 150, 154);
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 80px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);

}
#btn-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0,1);
}
/* -----------footer ---------*/
footer{
    background-image: linear-gradient(to right ,rgb(11, 65, 101) ,rgb(88, 175, 234));
    padding: 1rem;
   }
footer{
   color:white;
    width: 100%;
    color:white;
    font-size: small;
    align-items: center;
    justify-content: space-between;

}


/* ---------------------------------------------------------------*/
/* ----------------------estilo de ticket ------------------------*/
/* ---------------------------------------------------------------*/
.container-tickets{
 margin-top: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.login{
    color:white;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
  
}
.login:hover{
    color: rgb(13, 138, 11) ;
}
.btn-estudiante
{
 border-color: rgb(65, 151, 221);
 margin-left:2px;
 background-color: white;
}
.btn-estudiante:hover{
    border-color: rgb(61, 61, 61);
}

.btn-trainee
{
 border-color: rgb(6, 141, 51);
 margin-left:2px;
 background-color: white;}

.btn-trainee:hover{
    border-color: rgb(61, 61, 61);
}
.btn-junior
{
    border-color: rgb(219, 125, 16);
    margin-left:2px;
    background-color: white;
}
.btn-junior:hover{
    border-color: rgb(61, 61, 61);
}
h5{
    color:black;
}

.requeridos{
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
}
.requeridos-nombre{
width: 50vh;
}
.requeridos-apellido{
    width: 50vh;
 }
.btn-primary{
    background-color: rgb(72, 173, 198);
    color:white;
    border-radius: 5px;
    border-color: transparent;
    padding-bottom:  5px;
    padding: 10px;
    margin-left: 10PX;
    text-align: left;
}

.btn-borrar{
    background-color: rgb(81, 170, 88);
    color:white;
    border-radius: 5px;
    border-color: transparent;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 10PX;
}
.btn-borrar:hover{
    background-color:  rgb(7, 165, 20);
}

.btn-resumen{
    background-color: rgb(81, 170, 88);
    color:white;
    border-radius: 5px;
    border-color: transparent;
    padding-bottom:  5px;
    padding-top: 5px;
    margin-left:10PX;
}
.btn-resumen:hover{
    background-color:  rgb(7, 165, 20);
}
.tex-cent{
    height: 400px;
   
}
.form-group{
      width: 100%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
}