@media only screen and (min-width:320px) and (max-width: 2048px)
{
*{

    margin:0;
    padding: 0;

}
/* ------------------ encabezado --------------- */
header {
    background-color: rgb(92, 88, 88);
    display: inline-flex;
    width: 100%;
    color: white;
}
.h2{
    text-align:left ;
    font-size: small;

}
.txt {
    text-align:right;
    font-size: smaller;
    margin-top: 30px;
    margin-left: 100px;
}
.imagen-logo{
    margin-left:10px;
}
.enlace_distint{
  color: rgb(14, 146, 14);

}
/*---------------------- sección class="container-conf"  --------------------------*/

.contenedor-ba{
    display: inline-flex;
    text-align: right;
}
/* texto de parrafo inicial */
.texto-ba{
    margin-top: 20px;
    font-size:medium;
    color:white;
    position: absolute;
    top: 60%;
    right:5%;

}
.con{
    top: 60%;right:5%;
    position: absolute;
    font-size: large;

    /* margin-right: 10px; */
}
.dos{
    /* margin-right:50px; */
    right:20%;
    position: absolute;
}
.btn-orador{

    margin-left: 10px;
    margin-right: 90px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: white;
    background-color: transparent;
    color:white;
    font-size:large ;
}
.btn-tic{
    right:-50%;
    position: absolute;
    margin-top: -40px;
}


/* --------------conoce a los oradores ---------*/
/* OK */
h6{
    margin-top: 10px;
    text-align: center;

}
h4{
    text-align: center;
    font-size: x-large;
}
/*--------------container-orador------------------*/

.container-oradores{
 display: inline-flex;
 text-align: left;
    /* margin-right:150px;*/
    margin-left:40px;
    width: 620px;
    /* height: 80vh; */
    height: 650px;


}

.btn-yellow{
    background-color: rgb(243, 243, 51);
    color:rgb(59, 58, 58);
    border-radius: 5px;
    border-color: transparent;

}
.btn-cyan{
    background-color: cyan;
    color:white;
    border-radius: 5px;
    border-color: transparent;
}
.btn-gris{
    background-color: gray;
    color:white;
    border-radius: 5px;
    border-color: transparent;
}
.btn-rojo{
    background-color: rgb(179, 37, 37);
    color:white;
    border-radius: 5px;
    border-color: transparent;
}
/* -----------------------cajas-------------------- */
.container-col{
    display: inline-flex;
    /* height: 100vh; */
    margin-right: 0px;
    margin-left: 0px;
    /* place-items: center; */

}

.caja2-4{

   background-color: rgb(78, 75, 75);
   color: white;
   /* width: 630px;
   height: 500px; */

}
.oct-text
{
    text-align: justify;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}
.btn-hono{
    border-radius: 5px;
    border-color: white;
    background-color: transparent;
    color:white;
    font-size: x-large;

}

/* ------------formulario----------- */

 .tex-cent
 {  height: 100vh;
    text-align:center;
    font-size: medium;

 }

.input{
    display: inline-flex;
    margin-left: 1px;

}
.coment{
    color:  rgb(138, 135, 135);
    font-size: large;
}
.pieTxt
{  margin-top: 0px;
    text-align: left;
    margin-left:80px;

}

.btn-enviar{
    margin-top: 15px;
    background-color: rgb(23, 201, 38);
    color:white;
    border-radius: 5px;
    border-color: transparent;
    padding-bottom:  5px;
    padding-top: 5px;
    padding-left: 400px;
    padding-right: 400px;

}

/* .-----------footer ---------*/

footer{

    height: 10vh;
   background-color: rgb(42, 90, 122);
   /* color:white; */
    width: 100%;
    color:white;
    font-size: medium;
    text-align: center;

    bottom: 0px;
}

/* ---------------------------------------------------------------*/
/* ----------------------estilo de ticket ------------------------*/
/* ---------------------------------------------------------------*/
.container-tickets
{

    display: inline-flex;
    text-align: center;
    margin-left:180px;
    width: 650px;
}

.btn-estudiante
{
 border-color: rgb(65, 151, 221);
 margin-left:2px;
 background-color: white;

}
.btn-trainee
{
 border-color: rgb(6, 141, 51);
 margin-left:2px;
 background-color: white;
}
.btn-junior
{
    border-color: rgb(219, 125, 16);
    margin-left:2px;
    background-color: white;

}

h5{
    color:black;
}

.input{
    padding-bottom: 5px;
    margin-left: 5PX;
}


.btn-pagar{
    background-color: rgb(117, 177, 192);
    color:white;
    border-radius: 5px;
    border-color: transparent;
    padding-bottom:  5px;
    padding-top: 5px;
    margin-left: 10PX;
    text-align: left;
}


.btn-borrar{
    background-color: rgb(81, 170, 88);
    color:white;
    border-radius: 5px;
    border-color: transparent;
    padding-bottom:  5px;
    padding-top: 5px;
    margin-left: 10PX;


}
.btn-resumen{
    background-color: rgb(81, 170, 88);
    color:white;
    border-radius: 5px;
    border-color: transparent;
    padding-bottom:  5px;
    padding-top: 5px;
    margin-left:10PX;

}
.tex-cent{
    height: 400px;
}
}